.bold {
    font-weight: bold;
}

.not-bold {
    font-weight: normal;
}

.question-verse-ref {
    font-style: italic;
    font-size: small;
}

.category-description {
    text-align: center;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 3rem;
}
